<div class="d-flex justify-content-evenly container pt-3 text-center">
    <div class="card border-3">
        <div class="card-header bg1 border-3">
            <h2>
                Comida Estrella
            </h2>
        </div>
        <div class="card-body bg2">
            <img class="img1" src="{{comida.foto}}">
            <h4>
                {{comida.nombre}}
            </h4>
        </div> 
        <div class="card-footer foot bg3">
            <p class="text-start">Ingredientes:</p>
            @for (ing of getIngredientesc(apicomi); track $index) {
                <span class="badge bg-secondary">{{ ing }}</span>
            }
        </div>
    </div>
    <div class="card border-3">
        <div class="card-header bg1 border-3">
            <h2>
                Bebida Estrella
            </h2>
        </div>
        <div class="card-body bg2">
            <img class="img2" src="{{bebida.foto}}">
            <h4>
                {{bebida.nombre}}
            </h4>
        </div> 
        <div class="card-footer foot bg3">
            <p class="text-start">Ingredientes:</p>
            @for (ing of getIngredientesb(apibebi); track $index) {
                <span class="badge bg-secondary">{{ ing }}</span>
            }
        </div>
    </div>
</div>